<mat-sidenav-container class="example-container"  >
    <mat-sidenav mode="side" opened> 
       <div class="sidenav">
   <a href="#about"> 
             <mat-icon class="icons">home</mat-icon>
          Home
        </a>
  
        <a href="#about">
          <mat-icon class="icons">info</mat-icon>
          About</a>
  
        <a href="#services">
          <mat-icon class="icons">description</mat-icon>
          Administration</a>
  
        <a href="#clients">
          <mat-icon class="icons">assignment_ind</mat-icon>
          Employee Management</a>
  
      
  
        <a href="#contact">
          <mat-icon class="icons">location_city</mat-icon>
  
          Property Management</a>
  
  
        <a href="#contact">
          <mat-icon class="icons">how_to_reg</mat-icon>
          Agent Management</a>
  
  
        <a href="#contact">
          <mat-icon class="icons">airline_seat_individual_suite</mat-icon>
          Rental Management</a>
  
        <a href="#contact">
          <mat-icon class="icons">record_voice_over</mat-icon>        
          Complaint Management</a>
  
        <a href="#contact">
          <mat-icon class="icons">supervised_user_circle</mat-icon>
          User Management</a>
  
        <a href="#contact">
          <mat-icon class="icons">assignment_turned_in</mat-icon>
          Inspection Management</a>
        <a href="#contact">
          <mat-icon class="icons">calendar_today</mat-icon>
          Booking Management</a>
        <a href="#contact">
          <mat-icon class="icons"> multiline_chart</mat-icon>
          Reporting</a>
        <a href="#contact">
          <mat-icon class="icons">build</mat-icon>
          Maintenance</a>
  
        <a href="#contact">
          <mat-icon class="icons">exit_to_app</mat-icon>
          Logout</a>
  
  
  
  </div>
  
  
  
  
    </mat-sidenav>
    <mat-sidenav-content>
        <nav class="navbar  navbar-dark "  style="  background-color: #111;  ">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#"></a>
              </div>
           
              <ul class="nav navbar-nav navbar-right nav-item nav-link">
                <a><li style=" font-size: 20px; color: gray; ">Dave Doe <mat-icon class="icons">account_circle</mat-icon></li></a>
              </ul>
            </div>
          </nav>
          <mat-card>  
            <mat-toolbar color="primary">  
              <div class="container w-100 row" style="  "  >
              <div align="center" style="color:white; text-align: left;  " class="col-6">  
               Manage Maintenance 
             
               </div>
  
              
               <br>
            
            
  
            </div>
            </mat-toolbar>  
          <br><br>  
            <mat-card-content>  
              <div >
                <mat-form-field class="w-100">
                  <mat-label>Search</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="Search Keyword">
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>

               </div>
            
               <table class="mat-elevation-z8 table w-100" >
            <thead class="thead-dark">
                <tr>
                    <th>Repair_Request_ID</th>
                    <th>PropertyID</th> 
                    <th>UserID</th>
                    <th>ClientID</th>
                    <th>Repair Request Status</th>  
                    <th>Repair Request Date</th>
                    <th>Repair Request Description</th>
                    <th>Select</th>

                       
    
                    
                 
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>33</td>
                    <td>5</td>
                    <td>22</td> 
                    <td>33</td>
                    <td>Incomplete</td>
                    <td>18/06/20</td>
                    <td>Faulty Tap</td>
                    <td><input type="radio"></td>
                  </tr>
                   <tr>
                    <td>34</td>
                    <td>6</td>
                    <td>28</td> 
                    <td>27</td>
                    <td>Incomplete</td>
                    <td>19/06/20</td>
                    <td>Leaking roof</td>
                    <td><input type="radio"></td>
                  </tr>
                
          
                    
              
             
            </tbody>
          </table>
          
            </mat-card-content>  
          </mat-card>  


                
           
          
                </mat-sidenav-content>
              </mat-sidenav-container>
          
          
          
              <br>
              <br>
              <br>
              <br> <br> <br> <br> <br> <br>
              <br> <br> <br> <br> <br> <br>
              <br> <br> <br> <br> <br> <br>
          
              <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>    
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#validation">
                Launch demo modal
              </button>
          
          
          
          
          <!-- /////////////////////////////////////////Area Modals //////////////////////////-->
          
          <!-- Add Area modal -->
          
          <!-- Modal -->
          <div class="modal fade" id="addAEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header alert-primary ">
                  <h3 class="modal-title text-center" id="exampleModalLabel" style="text-align: center;">Add New Employee</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="exampleFormControlInput1">National ID</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                    <label for="exampleFormControlInput1">Passport Number</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                    <label for="exampleFormControlInput1">Date Employed</label>
                    <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-success">Add New Employee Type</button>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Edit Area modal -->
          
          <!-- Modal -->
          <div class="modal fade" id="UpdateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header alert-primary ">
                  <h3 class="modal-title text-center" id="exampleModalLabel" style="text-align: center;">Update Employee Datails</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="exampleFormControlInput1">National ID</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="981209482">
                    <label for="exampleFormControlInput1">Passport Number</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="CTREW981209482">
                    <label for="exampleFormControlInput1">Date Employed</label>
                    <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="09/12/98">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary">Update Employee</button>
                </div>
              </div>
            </div>
          </div>
          
          
          <!-- Delete Area modal -->
          
          <!-- Modal -->
          <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header alert-danger ">
                  <h3 class="modal-title text-center" id="exampleModalLabel" style="text-align: center;">Delete Employee?</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                 <h2>Are you sure you want to delete the Employee?</h2>
                </div>
                <div class="modal-footer " >
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-success">Confirm</button>
                </div>
              </div>
            </div>
          </div>