
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/StyleSheet1.css" rel="stylesheet" type="text/css" />
    <title>Part2</title>

</head>
<body>

@using (@Html.BeginForm("Part2", "Shop", FormMethod.Post))
            {
    <div>
        

         
                <label>Name</label>
                <input id="txtName" type="text" name="Name" required />
                <br />
                <label>Price</label>
                <input id="txtPrice" type="text" name="Price" required />
                <br />
                <label>Desription</label>
                <input id="txtDesription" type="text" name="Desciption" required />
                <br />
                <label>Quantity Available</label>
                <input id="txtQuantityAvailable" type="number" min="0" name="QuantityAvailable" required />
                <br />

                <input id="btnSave" type="submit" value="Save" />
 

    </div>
}
</body>
</html>
